In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [2]:
df_vcf=pd.read_csv('../step1/output4_GT.tsv', sep='\t')
# df_vcf=df_vcf.drop(['#CHROM', 'POS', 'REF', 'ALT', 'INFO', 'FORMAT'], axis=1)
df_synonymous=pd.read_csv('../step2/list_synonymous.tsv')
df_synonymous=df_synonymous.drop_duplicates()
df_vcf_synonymous=df_vcf[df_vcf['ID'].isin(df_synonymous['variant'])]
df_synonymous_summary=pd.DataFrame()
df_synonymous_summary['IID']=df_vcf_synonymous.columns[1:]
list_count=[]
for column in df_vcf_synonymous.columns[1:]:
#     print(column)
    column_counts = df_vcf_synonymous[column].tolist().count('0/1')+df_vcf_synonymous[column].tolist().count('1/1')*2
    list_count.append(column_counts)
df_synonymous_summary['count_synonymous']=list_count
display(df_synonymous_summary)

/tmp/ipykernel_66781/1929847195.py:1: DtypeWarning: Columns (1,2,3,4,5,7,8,9,11,12,13,14,15,16,17,18,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,154,155,156,157,158,159,160,161,162,164,165,166,167,168,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,333,334,335,336,337,338,339,340,341,342,343,345,346,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vcf=pd.read_csv('../step1/output4_GT.tsv', sep='\t')

              IID  count_synonymous
0    QD00012_0001               856
1    QD00015_0001               983
2    QD00019_0001               921
3    QD00021_0001               914
4    QD00027_0001               938
..            ...               ...
527  QG01829_0001              2322
528  QG01832_0001               792
529  QG01838_0001               789
530  QG01841_0001               854
531  QG01844_0001               931

[532 rows x 2 columns]

In [12]:
df1=pd.read_csv('/data/Segre_Lab/users/jlama/WES_new.ALL_050824/Phenotype/FAME.all.covariates.532IDs.100924.tsv', sep=' ')
display(df1)
pheno = df1.loc[:,['FID', 'IID', 'responder']]
display(pheno)

,FID,IID,Sex,Age,steroid.medication,hx.glaucoma,drops.during6m,Max_IOPRise,responder,Ex_responder,inferred_ancestry
0,QG00287_0001,QG00287_0001,2,65.33,2,2,2,2,0,0,EUR
1,QG00275_0001,QG00275_0001,2,52.04,1,2,2,0,0,0,EUR
2,QG00296_0001,QG00296_0001,1,61.00,2,2,2,4,0,3,EUR
3,QG00293_0001,QG00293_0001,2,55.58,2,2,2,1,0,0,EUR
4,QG00281_0001,QG00281_0001,2,69.05,2,2,2,2,0,0,EUR
...,...,...,...,...,...,...,...,...,...,...,...
527,QG01838_0001,QG01838_0001,2,56.71,2,2,1,10,1,1,EUR
528,QF00277_0001,QF00277_0001,1,62.72,1,2,1,13,1,1,EUR
529,QF00282_0001,QF00282_0001,2,55.59,1,2,2,2,0,0,EUR
530,QF00376_0001,QF00376_0001,1,51.78,2,2,2,15,1,1,EUR
531,QF00285_0001,QF00285_0001,1,54.16,1,2,2,2,0,0,EUR

              FID           IID  responder
0    QG00287_0001  QG00287_0001          0
1    QG00275_0001  QG00275_0001          0
2    QG00296_0001  QG00296_0001          0
3    QG00293_0001  QG00293_0001          0
4    QG00281_0001  QG00281_0001          0
..            ...           ...        ...
527  QG01838_0001  QG01838_0001          1
528  QF00277_0001  QF00277_0001          1
529  QF00282_0001  QF00282_0001          0
530  QF00376_0001  QF00376_0001          1
531  QF00285_0001  QF00285_0001          0

[532 rows x 3 columns]

In [6]:
df_batch1=pd.read_csv('/data/Segre_Lab/users/jlama/WES_new.ALL_050824/PCA/FAME/study_pca.eigenvec', sep='\t')
df_batch1=df_batch1.loc[:,['IID','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10']]
display(df_batch1)

,IID,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,QD00012_0001,-0.021001,0.062841,-0.046953,-0.011444,-0.012047,-0.006186,-0.010486,0.017712,-0.003843,0.015144
1,QD00015_0001,-0.042598,0.106185,-0.031031,-0.025781,-0.016505,-0.002572,-0.040566,0.006609,0.043955,0.006157
2,QD00019_0001,-0.031388,0.093170,-0.003714,-0.031037,-0.013036,0.018531,0.006814,-0.098985,-0.034902,0.013714
3,QD00021_0001,-0.030734,0.093848,0.005103,-0.039199,-0.008006,0.023067,-0.006914,-0.048694,-0.016291,0.009329
4,QD00027_0001,-0.031798,0.087201,-0.020245,-0.027268,-0.012689,-0.006302,-0.034480,0.025765,0.019539,0.013497
...,...,...,...,...,...,...,...,...,...,...,...
527,QG01829_0001,-0.152913,-0.073644,-0.026073,-0.013310,-0.007120,-0.020532,-0.005623,0.005525,0.037433,0.027304
528,QG01832_0001,0.020084,-0.012078,0.020917,-0.005922,-0.019863,-0.009288,-0.008243,-0.005416,-0.062452,-0.018647
529,QG01838_0001,0.016607,-0.015710,-0.077642,0.003775,0.060516,0.029449,0.009812,-0.025568,-0.012672,0.027751
530,QG01841_0001,0.019483,-0.020816,0.074609,-0.016798,0.001031,-0.014771,0.011741,0.024290,-0.063529,0.099925
531,QG01844_0001,-0.008167,0.013947,-0.014087,0.105593,-0.033114,-0.033844,-0.007329,0.048197,0.018142,-0.020668

In [9]:
df_batch1_merge = pd.merge(df_batch1, df1, on=['IID'], how='left')
df_batch1_merge=df_batch1_merge.loc[:,['FID','IID','Age','Sex','steroid.medication','hx.glaucoma','drops.during6m','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10']]
display(df_batch1_merge)

,FID,IID,Age,Sex,steroid.medication,hx.glaucoma,drops.during6m,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,QD00012_0001,QD00012_0001,69.00,1,2,2,2,-0.021001,0.062841,-0.046953,-0.011444,-0.012047,-0.006186,-0.010486,0.017712,-0.003843,0.015144
1,QD00015_0001,QD00015_0001,63.98,1,1,2,2,-0.042598,0.106185,-0.031031,-0.025781,-0.016505,-0.002572,-0.040566,0.006609,0.043955,0.006157
2,QD00019_0001,QD00019_0001,55.43,1,2,2,2,-0.031388,0.093170,-0.003714,-0.031037,-0.013036,0.018531,0.006814,-0.098985,-0.034902,0.013714
3,QD00021_0001,QD00021_0001,61.00,2,1,2,2,-0.030734,0.093848,0.005103,-0.039199,-0.008006,0.023067,-0.006914,-0.048694,-0.016291,0.009329
4,QD00027_0001,QD00027_0001,53.00,2,2,2,1,-0.031798,0.087201,-0.020245,-0.027268,-0.012689,-0.006302,-0.034480,0.025765,0.019539,0.013497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,QG01829_0001,QG01829_0001,56.59,1,2,1,1,-0.152913,-0.073644,-0.026073,-0.013310,-0.007120,-0.020532,-0.005623,0.005525,0.037433,0.027304
528,QG01832_0001,QG01832_0001,61.46,1,2,2,2,0.020084,-0.012078,0.020917,-0.005922,-0.019863,-0.009288,-0.008243,-0.005416,-0.062452,-0.018647
529,QG01838_0001,QG01838_0001,56.71,2,2,2,1,0.016607,-0.015710,-0.077642,0.003775,0.060516,0.029449,0.009812,-0.025568,-0.012672,0.027751
530,QG01841_0001,QG01841_0001,67.48,2,1,2,2,0.019483,-0.020816,0.074609,-0.016798,0.001031,-0.014771,0.011741,0.024290,-0.063529,0.099925
531,QG01844_0001,QG01844_0001,66.71,1,1,2,2,-0.008167,0.013947,-0.014087,0.105593,-0.033114,-0.033844,-0.007329,0.048197,0.018142,-0.020668

In [6]:
#list_age=[]
#for row in df_batch1_merge.itertuples():
 #   tmp_age=getattr(row, 'Sex')
 #   new_age=tmp_age
 #   list_age.append(new_age)
#df_batch1_merge['Sex']=list_age
#display(df_batch1_merge)

,IID,Age,Sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,CHH43740_SM,79.084932,3,-0.124546,-0.041329,0.062774,-0.060842,-0.003354,-0.078990,-0.085979,0.074071,0.022370,0.053529
1,CHH43749_SM,88.575342,2,0.020781,0.065427,-0.041591,-0.065079,0.011544,0.006940,0.075490,-0.003184,0.032604,-0.056674
2,CHH44138_SM,84.315068,3,-0.118695,-0.063246,0.077535,0.108835,-0.009095,-0.013155,0.006426,0.020398,-0.040551,-0.055543
3,CHH44145_SM,87.436986,3,-0.050664,-0.000770,-0.085546,0.101004,-0.007433,0.029582,-0.002222,-0.018676,0.048314,0.035608
4,CHH44148_SM,80.157534,3,0.037585,0.019182,0.047876,0.015900,0.009516,-0.022743,0.043172,0.078183,-0.028051,-0.006008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,CHH47253_SM,76.290411,2,0.007753,-0.045446,-0.044668,-0.004279,0.054653,-0.016391,0.030439,-0.027999,-0.050414,0.038013
449,CHH47290_SM,84.671233,3,0.053673,0.021275,-0.049650,-0.065655,-0.040446,-0.073501,-0.059212,0.048962,-0.024398,0.027567
450,CHH47303_SM,78.471233,2,-0.006549,0.062231,-0.020705,0.085033,-0.047223,-0.085037,0.039092,0.073299,-0.015683,-0.076395
451,CHH47330_SM,76.658904,3,-0.077945,0.038785,-0.026021,-0.045070,0.024320,-0.065091,0.045781,-0.024265,0.103027,0.058451
452,CHH47347_SM,76.578082,3,0.027903,-0.053592,0.009680,0.053329,0.025583,-0.026072,0.041382,-0.059375,-0.008960,-0.006718

In [10]:
#df_batch1_merge=df_batch1_merge.loc[:,['IID','Age','Sex','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10']]
df_batch1_merge=pd.merge(df_batch1_merge, df_synonymous_summary, on=['IID'], how='left')
display(df_batch1_merge)

,FID,IID,Age,Sex,steroid.medication,hx.glaucoma,drops.during6m,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,count_synonymous
0,QD00012_0001,QD00012_0001,69.00,1,2,2,2,-0.021001,0.062841,-0.046953,-0.011444,-0.012047,-0.006186,-0.010486,0.017712,-0.003843,0.015144,856
1,QD00015_0001,QD00015_0001,63.98,1,1,2,2,-0.042598,0.106185,-0.031031,-0.025781,-0.016505,-0.002572,-0.040566,0.006609,0.043955,0.006157,983
2,QD00019_0001,QD00019_0001,55.43,1,2,2,2,-0.031388,0.093170,-0.003714,-0.031037,-0.013036,0.018531,0.006814,-0.098985,-0.034902,0.013714,921
3,QD00021_0001,QD00021_0001,61.00,2,1,2,2,-0.030734,0.093848,0.005103,-0.039199,-0.008006,0.023067,-0.006914,-0.048694,-0.016291,0.009329,914
4,QD00027_0001,QD00027_0001,53.00,2,2,2,1,-0.031798,0.087201,-0.020245,-0.027268,-0.012689,-0.006302,-0.034480,0.025765,0.019539,0.013497,938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,QG01829_0001,QG01829_0001,56.59,1,2,1,1,-0.152913,-0.073644,-0.026073,-0.013310,-0.007120,-0.020532,-0.005623,0.005525,0.037433,0.027304,2322
528,QG01832_0001,QG01832_0001,61.46,1,2,2,2,0.020084,-0.012078,0.020917,-0.005922,-0.019863,-0.009288,-0.008243,-0.005416,-0.062452,-0.018647,792
529,QG01838_0001,QG01838_0001,56.71,2,2,2,1,0.016607,-0.015710,-0.077642,0.003775,0.060516,0.029449,0.009812,-0.025568,-0.012672,0.027751,789
530,QG01841_0001,QG01841_0001,67.48,2,1,2,2,0.019483,-0.020816,0.074609,-0.016798,0.001031,-0.014771,0.011741,0.024290,-0.063529,0.099925,854
531,QG01844_0001,QG01844_0001,66.71,1,1,2,2,-0.008167,0.013947,-0.014087,0.105593,-0.033114,-0.033844,-0.007329,0.048197,0.018142,-0.020668,931

In [11]:
df_batch1_merge.to_csv('FAME.GWAS_cov_pca_100924.csv', sep='\t', index=None)

In [13]:
pheno.to_csv("FAME.Responder.pheno.csv", sep='\t', index=None)