In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('IDs_phenotypes_FINAL_102424_113023_T2.csv',sep='\t')
display(df)
df['FID']=df['IID']
df=df.loc[:,['FID','IID','Phenotype']]
display(df)
df.to_csv('IDs_phenotypes_FINAL_102424_113023_T2_FID_IID_adjust.csv', sep='\t', index=None)

             IID  Phenotype
0    CHH46457_SM          1
1    CHH44180_SM          1
2    CHH47137_SM          1
3    CHH44282_SM          1
4    CHH44203_SM          1
..           ...        ...
695  CHH86639_SM          0
696  CHH86579_SM          0
697  CHH86576_SM          0
698  CHH86705_SM          0
699  CHH86758_SM          0

[700 rows x 2 columns]

             FID          IID  Phenotype
0    CHH46457_SM  CHH46457_SM          1
1    CHH44180_SM  CHH44180_SM          1
2    CHH47137_SM  CHH47137_SM          1
3    CHH44282_SM  CHH44282_SM          1
4    CHH44203_SM  CHH44203_SM          1
..           ...          ...        ...
695  CHH86639_SM  CHH86639_SM          0
696  CHH86579_SM  CHH86579_SM          0
697  CHH86576_SM  CHH86576_SM          0
698  CHH86705_SM  CHH86705_SM          0
699  CHH86758_SM  CHH86758_SM          0

[700 rows x 3 columns]

In [4]:
df=pd.read_csv('GWAS_cov_pca_batch1_072524.csv',sep='\t')
df1=pd.read_csv('IDs_phenotypes_FINAL_102424_113023_T2_FID_IID_adjust.csv',sep='\t')
df['FID']=df['IID']
df=df.loc[:,['FID','IID','Age','Sex','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10','count_synonymous']]
display(df)
display(df1)
df2=pd.merge(df, df1, on=['FID','IID'], how='inner')
display(df2)
df2=df2.loc[:,['FID','IID','Age','Sex','PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10','count_synonymous']]
df2.to_csv('GWAS_cov_pca_batch1_072524_FID_IID.csv', sep='\t', index=None)

,FID,IID,Age,Sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,count_synonymous
0,CHH43740_SM,CHH43740_SM,79.084932,3,-0.124546,-0.041329,0.062774,-0.060842,-0.003354,-0.078990,-0.085979,0.074071,0.022370,0.053529,676
1,CHH43749_SM,CHH43749_SM,88.575342,2,0.020781,0.065427,-0.041591,-0.065079,0.011544,0.006940,0.075490,-0.003184,0.032604,-0.056674,662
2,CHH44138_SM,CHH44138_SM,84.315068,3,-0.118695,-0.063246,0.077535,0.108835,-0.009095,-0.013155,0.006426,0.020398,-0.040551,-0.055543,663
3,CHH44145_SM,CHH44145_SM,87.436986,3,-0.050664,-0.000770,-0.085546,0.101004,-0.007433,0.029582,-0.002222,-0.018676,0.048314,0.035608,669
4,CHH44148_SM,CHH44148_SM,80.157534,3,0.037585,0.019182,0.047876,0.015900,0.009516,-0.022743,0.043172,0.078183,-0.028051,-0.006008,639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,CHH47253_SM,CHH47253_SM,76.290411,2,0.007753,-0.045446,-0.044668,-0.004279,0.054653,-0.016391,0.030439,-0.027999,-0.050414,0.038013,651
449,CHH47290_SM,CHH47290_SM,84.671233,3,0.053673,0.021275,-0.049650,-0.065655,-0.040446,-0.073501,-0.059212,0.048962,-0.024398,0.027567,656
450,CHH47303_SM,CHH47303_SM,78.471233,2,-0.006549,0.062231,-0.020705,0.085033,-0.047223,-0.085037,0.039092,0.073299,-0.015683,-0.076395,673
451,CHH47330_SM,CHH47330_SM,76.658904,3,-0.077945,0.038785,-0.026021,-0.045070,0.024320,-0.065091,0.045781,-0.024265,0.103027,0.058451,703
452,CHH47347_SM,CHH47347_SM,76.578082,3,0.027903,-0.053592,0.009680,0.053329,0.025583,-0.026072,0.041382,-0.059375,-0.008960,-0.006718,650

             FID          IID  Phenotype
0    CHH46457_SM  CHH46457_SM          1
1    CHH44180_SM  CHH44180_SM          1
2    CHH47137_SM  CHH47137_SM          1
3    CHH44282_SM  CHH44282_SM          1
4    CHH44203_SM  CHH44203_SM          1
..           ...          ...        ...
695  CHH86639_SM  CHH86639_SM          0
696  CHH86579_SM  CHH86579_SM          0
697  CHH86576_SM  CHH86576_SM          0
698  CHH86705_SM  CHH86705_SM          0
699  CHH86758_SM  CHH86758_SM          0

[700 rows x 3 columns]

,FID,IID,Age,Sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,count_synonymous,Phenotype
0,CHH43740_SM,CHH43740_SM,79.084932,3,-0.124546,-0.041329,0.062774,-0.060842,-0.003354,-0.078990,-0.085979,0.074071,0.022370,0.053529,676,1
1,CHH43749_SM,CHH43749_SM,88.575342,2,0.020781,0.065427,-0.041591,-0.065079,0.011544,0.006940,0.075490,-0.003184,0.032604,-0.056674,662,1
2,CHH44138_SM,CHH44138_SM,84.315068,3,-0.118695,-0.063246,0.077535,0.108835,-0.009095,-0.013155,0.006426,0.020398,-0.040551,-0.055543,663,1
3,CHH44145_SM,CHH44145_SM,87.436986,3,-0.050664,-0.000770,-0.085546,0.101004,-0.007433,0.029582,-0.002222,-0.018676,0.048314,0.035608,669,0
4,CHH44148_SM,CHH44148_SM,80.157534,3,0.037585,0.019182,0.047876,0.015900,0.009516,-0.022743,0.043172,0.078183,-0.028051,-0.006008,639,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,CHH47253_SM,CHH47253_SM,76.290411,2,0.007753,-0.045446,-0.044668,-0.004279,0.054653,-0.016391,0.030439,-0.027999,-0.050414,0.038013,651,0
449,CHH47290_SM,CHH47290_SM,84.671233,3,0.053673,0.021275,-0.049650,-0.065655,-0.040446,-0.073501,-0.059212,0.048962,-0.024398,0.027567,656,1
450,CHH47303_SM,CHH47303_SM,78.471233,2,-0.006549,0.062231,-0.020705,0.085033,-0.047223,-0.085037,0.039092,0.073299,-0.015683,-0.076395,673,1
451,CHH47330_SM,CHH47330_SM,76.658904,3,-0.077945,0.038785,-0.026021,-0.045070,0.024320,-0.065091,0.045781,-0.024265,0.103027,0.058451,703,0
452,CHH47347_SM,CHH47347_SM,76.578082,3,0.027903,-0.053592,0.009680,0.053329,0.025583,-0.026072,0.041382,-0.059375,-0.008960,-0.006718,650,0

In [5]:
df=pd.read_csv('list_sample.tsv',sep='\t',header=None)
df.columns=['IID']
display(df)
df['FID']=df['IID']
df=df.loc[:,['FID','IID']]
display(df)
df.to_csv('list_sampleID_Batch1_FID_IID.csv', sep='\t', index=None)

             IID
0    CHH43740_SM
1    CHH43749_SM
2    CHH44138_SM
3    CHH44145_SM
4    CHH44148_SM
..           ...
448  CHH47253_SM
449  CHH47290_SM
450  CHH47303_SM
451  CHH47330_SM
452  CHH47347_SM

[453 rows x 1 columns]

             FID          IID
0    CHH43740_SM  CHH43740_SM
1    CHH43749_SM  CHH43749_SM
2    CHH44138_SM  CHH44138_SM
3    CHH44145_SM  CHH44145_SM
4    CHH44148_SM  CHH44148_SM
..           ...          ...
448  CHH47253_SM  CHH47253_SM
449  CHH47290_SM  CHH47290_SM
450  CHH47303_SM  CHH47303_SM
451  CHH47330_SM  CHH47330_SM
452  CHH47347_SM  CHH47347_SM

[453 rows x 2 columns]